body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(105, 102, 102);
}

.title {
    align-items: center;
    justify-content: center;
    color: black;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

.clock {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px rgb(43, 162, 189);
}

#seconds-hand {
    position: absolute;
    height: 130px;
    width: 4px;
    background-color: rgb(0, 0, 0);
    left: 148px;
    bottom: 148px;
    transform-origin: 0 100%;
}

#minutes-hand {
    position: absolute;
    height: 100px;
    width: 8px;
    background-color: rgb(175, 33, 33);
    left: 146px;
    bottom: 146px;
    transform-origin: 0 100%;
}

#hours-hand {
    position: absolute;
    height: 80px;
    width: 10px;
    background-color: rgb(75, 151, 18);
    left: 145px;
    bottom: 145px;
    transform-origin: 0 100%;
}

#center-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    left: 135px;
    bottom: 135px;
}